<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Вход</title>
	<link rel="stylesheet" href="/static/css/login.css" media="screen" type="text/css" />
</head>
<body>
    <h1>
        <a href="\" class="gradient" >Ave Maria</a>
    </h1> 

    <div id="login">
        <form action="/login" method="POST">
         {{ form.hidden_tag() }}
            <div>
                {% if form.email.errors %}
                    <span class="fontawesome-ban-circle"></span>{{ form.email(class="invalid") }}
                <div class="invalid-feedback">
                    {% for e in form.email.errors %}
                    {{ e }}
                    {% endfor %}
                </div>
                {% else %}
                    <span class="fontawesome-envelope-alt"></span>{{ form.email() }}  
                {% endif %}
            </div>

            <div>
                {% if form.password.errors %}
                    <span class="fontawesome-ban-circle"></span>{{ form.password(class="invalid") }}
                <div class="invalid-feedback">
                    {% for e in form.password.errors %}
                    {{ e }}
                    {% endfor %}
                </div>
                {% else %}
                    <span class="fontawesome-lock"></span>{{ form.password() }}  
                {% endif %}
            </div>
          
            <div>{{ form.remindme() }}
                <label for="remindme"><p class="checker">Запомнить меня?</p></label>
            </div>    

            <p>{{ form.submit() }}</p>
        </form>
        <p>Нет аккаунта? <a href="/register"> Регистрация</a><span class="fontawesome-arrow-right"></span></p>
    </div>
</body>
</html>





