{% extends 'base.html' %}
{% block content %}
{{ super() }}

<div class="product-content">

{% for p in range(products | length) %}
<div class="el-container animate-box" data-animate-effect="fadeIn">

    <a href="{{ url_for('show_product', alias=products[p][7])}}"><img class="el-img-front" src="\static\images\productImg\{{products[p][8]}}"></a>

    <div class="el-snippet">
        
        <p class="el-name"><a class="url_name" href="{{ url_for('show_product', alias=products[p][7])}}">{{products[p][1]}}</a></p>
        <p class="el-description">{{ products[p][3] }}</p>
        <p class="el price">
            <span class="priceValue">{{products[p][6]}}</span>
            <span>р.</span>
            <span class="el-unit">/шт</span>
        </p>
        <form action="{{ url_for('show_product', alias=products[p][7])}}">
            <div class="el-more-info">
                <button type="submit" class="btn-more-info">Подробнее</button>
            </div>
        </form>
        <button class="btn-add-to-cart addToCart" data-product-id="{{p}}">Купить</button>
    </div>
</div>

{% endfor %}
</div>


{% endblock %}