{% extends 'base.html' %}
{% block content %}
{{ super() }}


<div class="container size">

{% if get_user_order %}
<h1> ВАШИ ЗАКАЗЫ </h1>
{% for i in range(get_user_order | length) %}

{% set order_id, order_count, sum_of = get_user_order[i][2].split(), get_user_order[i][3].split(), [] %}

{% for id, count in order_id|zip(order_count) %}
<div class="hide">{{sum_of.append(products[id|int][6]|int * count|int)}}</div>
{% endfor%}

<div>
	<i class="extremum-click icon-arrow-right"></i>


	<div class="cart-top">
		<p>Заказ: {{get_user_order[i][19]}}</p>
			<div class="toggle-status">
				<div>Статус: 
					<span class="order-status {{get_user_order[i][18]}}">{{get_user_order[i][18]}}
					</span>
				</div>

				<div class="el-info">
					<p>Итого: 
						<span>
							{{ sum_of|sum }}р.
						</span>
					</p>
				</div>
			</div>
	</div>

	<div class="extremum-slide">


	{% for id, count in order_id|zip(order_count) %}
	<div class="cart-ordered">

		<div class="el-ordered">
			<a href="product\{{products[id | int][7]}}">
				<img src="\static\images\productImg\{{products[id | int][8]}}" style="width: 100px; height: 100px; border-radius: 2px;">
			</a>

			<div class="card-weight">
				<div>
					<a class="url_name" href="product\{{products[id | int][7]}}">
						{{products[id | int][1]}}
					</a>
				</div>
				<div>
					Телефон получателя: {{get_user_order[i][5]}}
				</div>
			</div>

			<div class="el-info">
				<p>Цена: 
					<span>
					{{(products[id | int][6] | int) * (count | int)}}p.
					</span>
				</p>
				<p>
					<span>
						{{ count }} 
						<span class="el-unit">шт. x
						</span> 
						{{products[id | int][6]}}р.
					</span></p>
			</div>

		</div>

	</div>
	{% endfor %}
	</div>
</div>

{% endfor %}


{% else %}
	<div class="cart-ordered empty">
		<p>Покупок не обнаруженно</p>
		<p>Вы можете выбрать букет на данной → <a class="glow-agreement" href="/product">странице</a></p>
	</div>
{% endif %}
</div>

<script>
	$(".extremum-click").click(function () {
      $(this).siblings(".extremum-slide").slideToggle("slow");
    });
    $(document).ready(function(){
	$('.extremum-click').click(function () {
		$(this).toggleClass('icon-arrow-down');

		});
	});
</script>
{% endblock %}
