<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Регистрация</title>
    <link rel="stylesheet" href="/static/css/register.css" media="screen" type="text/css" />
	<link rel="icon" href="/static/images/logo.png" type="image-x-icon">
</head>
<body>
    <h1>
        <a href="\" class="gradient" >Ave Maria</a>
    </h1>

    <p class="gradient">

    </p>

    <div id="login">
        <form action="/register" method="POST">
        {{ form.hidden_tag() }}
            <div>
                {% if form.email.errors %}
                    <span class="fontawesome-ban-circle"></span>{{ form.email(class="invalid") }}
                <div class="invalid-feedback">
                    {% for e in form.email.errors %}
                    {{ e }}
                    {% endfor %}
                </div>
                {% else %}
                    <span class="fontawesome-envelope-alt"></span>{{ form.email() }}  
                {% endif %}
            </div>

            <div>
                {% if form.name.errors %}
                    <span class="fontawesome-ban-circle"></span>{{ form.name(class="invalid") }}
                <div class="invalid-feedback">
                    {% for e in form.name.errors %}
                    {{ e }}
                    {% endfor %}
                </div>
                {% else %}
                    <span class="fontawesome-user"></span>{{ form.name() }}  
                {% endif %}
            </div>
            
            <div>
                {% if form.password.errors %}
                    <span class="fontawesome-ban-circle"></span>{{ form.password(class="invalid") }}
                <div class="invalid-feedback">
                    {% for e in form.password.errors %}
                    {{ e }}
                    {% endfor %}
                </div>
                {% else %}
                    <span class="fontawesome-lock"></span>{{ form.password() }}  
                {% endif %}
            </div>

            <div>
                {% if form.password1.errors %}
                    <span class="fontawesome-ban-circle"></span>{{ form.password1(class="invalid") }}
                <div class="invalid-feedback">
                    {% for e in form.password1.errors %}
                    {{ e }}
                    {% endfor %}
                </div>
                {% else %}
                    <span class="fontawesome-lock"></span>{{ form.password1() }}  
                {% endif %}
            </div>
            <p>{{ form.submit() }}</p>
        </form>
        <p>Имеется аккаунт? &nbsp;&nbsp;<a href="/login">Войти</a><span class="fontawesome-arrow-right"></span></p>
    </div>
</body>
</html>