<!DOCTYPE html>
{% extends 'admin/base_admin.html' %}
{% block content %}
{{ super() }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login.css" media="screen" type="text/css" />
    <link rel="icon" href="/static/images/logo.jpg" type="image-x-icon">
</head>
<body>
<p class="title-title">Admin panel
    <div id="login">
        <form action="" method="post">

                {% for cat, msg in get_flashed_messages(True) %}
                <div class="flash {{cat}}">{{msg}}</div>
                {% endfor %}
                <p><span class="fontawesome-user"></span>
                    <input class="field" type="text" name="user" placeholder="Логин" required>
                </p>
                <p>
                    <span class="fontawesome-lock"></span>
                    <input class="field" type="password" name="password" placeholder="******" required>
                </p>
                <p><input type="submit" value="ВОЙТИ"></p>
        </form>
    </div>
</body>
{% endblock %}
</html>

